.home-container{
    background-color: rgba(252, 254, 255, 0);
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}
.home{
    font-weight: bold;
}
.Home-image{
    width: 100%;
}

.home-paragraph{
    font: 1.5em sans-serif;
    font-weight: 600;
    padding: 10px;
}
